*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Gabarito', sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
    gap:10px;
}
.navbar__s1__title{
    color:#A435F0;
}
.navbar__s2{
    display:flex;
    padding:10px;
    border:solid black 1px;
    border-radius: 40px;
    width:60%;
    gap:10px;
    align-items: center;
}
.navbar__s2 input{
    border:none;
    width:100%;
    font-size: 16px;
}
.navbar__s2 input:focus{
    outline:none;

}
.navbar__s3{
    display: flex; 
    gap:10px;
    align-items: center;
}
.categories{
    display:flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;

}
.categories p{
    background-color: #A435F0;
    color:white;
    border-radius: 30px;
    padding: 10px;
    
}
.sale-image img{
    width:100%;
}
.recommended{
    padding:20px;
}
.recommended__container{
    display: flex;
    justify-content: space-between;
    margin-top:10px;
    flex-wrap:wrap;
    
}
.course__card{
    width: 300px;
}

.course__card img{
    height:50%;
    width:100%;
}
.topics__container{
    display:flex;
    margin-bottom: 20px;
    flex-wrap:wrap;
    margin-top: 10px;
    gap:10px;
    
}

.topics__container p{
    border:solid black 2px;
    padding:10px;
    flex-basis:25% ;
    flex-grow: 1;
}

.popular{
    padding:10px;
}

.popular__container{
    display:flex;
    margin-top: 10px;
    justify-content: space-between;
    flex-wrap: wrap;

}
.footer{
    
    background-color: black;
    color:white;
    padding: 30px;

}
.footer__two{
    display:flex;
    justify-content: space-between;
    margin:20px;
    align-items: center;
    
}
.footer__one{
    
    display:flex;
    gap:10px;
    
    
}
.footer__one p{
    margin:20px;
    

}
